################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeneralPurposeApplication.Server/bin/Debug/net8.0
/generalpurposeapplication.client/obj/Debug
/.vs/ProjectEvaluation
/.vs/GeneralPurposeApplication/FileContentIndex
