################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeneralPurposeApplication.Server/bin/Debug/net8.0
/generalpurposeapplication.client/obj/Debug
/.vs/ProjectEvaluation
/.vs/GeneralPurposeApplication/FileContentIndex
/.vs/GeneralPurposeApplication/DesignTimeBuild
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.AssemblyInfo.cs
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.AssemblyInfoInputs.cache
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.dll
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.pdb
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.sourcelink.json
/GeneralPurposeApplication.Server/obj/Debug/net8.0/ref/GeneralPurposeApplication.Server.dll
/GeneralPurposeApplication.Server/obj/Debug/net8.0/refint/GeneralPurposeApplication.Server.dll
/GeneralPurposeApplication.Server/obj/Debug/net8.0/apphost.exe
/.vs/GeneralPurposeApplication/v17/DocumentLayout.backup.json
/.vs/GeneralPurposeApplication/v17/DocumentLayout.json
/.vs/GeneralPurposeApplication/v17/.suo
/.vs/GeneralPurposeApplication/v17/.futdcache.v2
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.csproj.CoreCompileInputs.cache
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.assets.cache
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.csproj.AssemblyReference.cache
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.csproj.FileListAbsolute.txt
/GeneralPurposeApplication.Server/obj/GeneralPurposeApplication.Server.csproj.nuget.dgspec.json
/GeneralPurposeApplication.Server/obj/GeneralPurposeApplication.Server.csproj.nuget.g.targets
/GeneralPurposeApplication.Server/obj/project.assets.json
/GeneralPurposeApplication.Server/obj/project.nuget.cache
/GeneralPurposeApplication.Server/obj/GeneralPurposeApplication.Server.csproj.nuget.g.props
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.genruntimeconfig.cache
/GeneralPurposeApplication.Server/obj/Debug/net8.0/staticwebassets.build.json
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.MvcApplicationPartsAssemblyInfo.cs
*.targets
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.GeneratedMSBuildEditorConfig.editorconfig
/GeneralPurposeApplication.Server/obj/Debug/net9.0/GeneralPurposeApplication.Server.assets.cache
/GeneralPurposeApplication.Server/obj/Debug/net9.0/GeneralPurposeApplication.Server.csproj.AssemblyReference.cache
/GeneralPurposeApplication.Server/obj/Debug/net9.0/GeneralPurposeApplication.Server.GlobalUsings.g.cs
*.cache
/GeneralPurposeApplication.Server/obj/Debug/net9.0
/GeneralPurposeApplication.Server/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/.vs/slnx.sqlite
/GeneralPurposeApplication.Server/obj/Release/net8.0/GeneralPurposeApplication.Server.GlobalUsings.g.cs
/GeneralPurposeApplication.Server/obj/Release/net8.0/GeneralPurposeApplication.Server.GeneratedMSBuildEditorConfig.editorconfig
/GeneralPurposeApplication.Server/obj/Release/net8.0/GeneralPurposeApplication.Server.AssemblyInfo.cs
/.vs/slnx.sqlite-journal
/.vs/GeneralPurposeApplication/v17
/.vs/GeneralPurposeApplication/v17/.wsuo
*.user
/.vs/VSWorkspaceState.json
/GeneralPurposeApplication.Server/obj/Debug/net8.0
/GeneralPurposeApplication.Server/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/GeneralPurposeApplication.Server/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/.vs/GeneralPurposeApplication/config/applicationhost.config
/.vs/VSWorkspaceState.json
/GeneralPurposeApplication.Server/obj/Debug/net8.0/spa.proxy.json
/GeneralPurposeApplication.Server/obj/Debug/net8.0/staticwebassets/msbuild.build.GeneralPurposeApplication.Server.props
/GeneralPurposeApplication.Server/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/GeneralPurposeApplication.Server/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/GeneralPurposeApplication.Server/obj/Debug/net8.0/staticwebassets.removed.txt
/GeneralPurposeApplication.slnLaunch.user
/GeneralPurposeApplication.Server/GeneralPurposeApplication.Server.csproj.user
*.wsuo
/GeneralPurposeApplication.Server/obj/Debug/net8.0/spa.proxy.json
/GeneralPurposeApplication.Server/GeneralPurposeApplication.Server.csproj.user.Backup.tmp
/GeneralPurposeApplication.Tests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_GeneralPurposeApplication.Tests

bin/
obj/
/GeneralPurposeApplication.Tests/obj/project.assets.json
/GeneralPurposeApplication.Server/obj/Debug/net8.0/GeneralPurposeApplication.Server.GlobalUsings.g.cs
/GeneralPurposeApplication.Tests/obj/project.assets.json
.vs/
/generalpurposeapplication.client/generalpurposeapplication.client.esproj.user
/GeneralPurposeApplication.Tests/obj/project.assets.json
