<h1>Categories</h1>
<p>Here's a list of Categories: </p>
<p *ngIf="!categories"><em>Loading...</em></p>

<button mat-flat-button color="primary"
        class="btn-add" *ngIf="categories" [routerLink]="['/category']">
  Add a new Category
</button>

<mat-form-field [hidden]="!categories">
  <input matInput #filter (keyup)="onFilterTextChanged(filter.value)"
         placeholder="Filter by name (or part of it)...">
</mat-form-field>

<table mat-table [dataSource]="categories"
       class="mat-elevation-z8"
       [hidden]="!categories"
       matSort (matSortChange)="loadData()"
       [matSortActive]="defaultSortColumn"
       [matSortDirection]="defaultSortOrder">

  <tr style="display:none!important">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let category">{{category.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let category">{{category.name}}</td>
    </ng-container>

    <!-- Total Products Column -->
    <ng-container matColumnDef="totalProducts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Products</th>
      <td mat-cell *matCellDef="let category">
        {{category.totalProducts}}
        <button mat-icon-button color="warn" (click)="openCategoryProducts(category.id)" matTooltip="Open Category Products">
          <mat-icon>open</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let category">
        <button mat-icon-button color="primary" [routerLink]="['/category', category.id]" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(category.id)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  </tr>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination directive -->
<mat-paginator [hidden]="!categories"
               (page)="getData($event)"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50]"
               showFirstLastButtons>

</mat-paginator>
