<div>
    <h1 class="!font-extrabold">Administration</h1>
</div>

<mat-card class="p-3 gap-2">
    <mat-card-title>
        Data Maintenance
    </mat-card-title>

    <mat-card class="outline-dotted outline-1 outline-gray-500 p-2">
        <mat-card-title>
            Import Data
        </mat-card-title>
        <mat-card-content>
            Import data from an external source into the system
        </mat-card-content>
        <mat-card-actions >
            <button mat-button (click)="onImport()">Import</button>
        </mat-card-actions>
    </mat-card>
</mat-card>