<div>
    <h1 class="!font-extrabold">Administration</h1>
</div>

<mat-card class="p-3 gap-2">
    <mat-card-title>
        Data Maintenance
    </mat-card-title>

    <mat-card class="outline-dotted outline-1 outline-gray-500 p-2">
        <mat-card-title>
            Import Data
        </mat-card-title>
        <mat-card-content>
            Import data from an external source into the system
            <div class="pt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Import file</mat-label>

                    <input matInput [value]="selectedFile?.name ?? ''" readonly>

                    <button mat-icon-button matSuffix type="button" (click)="fileInput.click()">
                        <mat-icon>upload</mat-icon>
                    </button>
                </mat-form-field>
                <input
                    #fileInput
                    type="file"
                    hidden
                    accept=".xlsx,.xls"
                    (change)="onFileSelected($event)"
                    >
            </div>
        </mat-card-content>
        <mat-card-actions >
            <button
                *ngIf="selectedFile"
                mat-raised-button
                color="primary"
                type="button"
                (click)="onImport()"
                [disabled]="isImporting">
                {{isImporting ? 'Importing' : 'Import'}}
            </button>
        </mat-card-actions>
    </mat-card>
</mat-card>