<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>{{title}}</h1>
  <p *ngIf="id && !product"><em>Loading…</em></p>
  <div [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Name -->
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required
             placeholder="Type a name">
    </mat-form-field>

    <!-- Category -->
    <mat-form-field *ngIf="categories">
      <mat-label>Select a Category...</mat-label>
      <mat-select id="categoryId" formControlName="categoryId">
        <mat-option *ngFor="let category of categories"
                    [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Cost Price -->
    <mat-form-field>
      <mat-label>Cost Price:</mat-label>
      <input matInput formControlName="costPrice" required
             placeholder="Insert cost price">
    </mat-form-field>

    <!-- Selling Price -->
    <mat-form-field>
      <mat-label>Selling Price:</mat-label>
      <input matInput formControlName="sellingPrice" required
             placeholder="Insert selling price">
    </mat-form-field>

    <!-- Is Active -->
    <mat-form-field appearance="fill">
      <mat-label>Is Active</mat-label>
      <mat-select formControlName="isActive" required>
        <mat-option [value]="true">Active</mat-option>
        <mat-option [value]="false">Inactive</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-flat-button color="primary"
              type="submit">
        {{ this.id ? "Save" : "Create" }}
      </button>
      <button mat-flat-button color="secondary"
              [routerLink]="['/products']">
        Cancel
      </button>
    </div>
  </div>
</form>
