<h1>Expenses</h1>
<p *ngIf="!expenses">Loading...</p>

<button mat-flat-button color="primary" class="btn-add" *ngIf="expenses" [routerLink]="['/expense']">
  Add a new Expense
</button>

<mat-form-field [hidden]="!expenses">
  <input matInput #filter (keyup)="onFilterTextChanged(filter.value)"
         placeholder="Filter by name (or part of it)...">
</mat-form-field>

<table mat-table
  [dataSource]="expenses"
  [hidden]="!expenses"
  matSort (matSortChange)="loadData()"
  [matSortActive]="defaultSortColumn"
  [matSortDirection]="defaultSortOrder">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let expense">{{ expense.id }}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
    <td mat-cell *matCellDef="let expense">{{ expense.category }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
    <td mat-cell *matCellDef="let expense">{{ expense.description }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
    <td mat-cell *matCellDef="let expense">{{ expense.amount }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let expense">{{ expense.date }}</td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [hidden]="!expenses" (page)="getData($event)" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons>

</mat-paginator>
