<h1>Sales Transactions</h1>
<p>Here's a list of sales transactions:</p>
<p *ngIf="!salesTransactions"><em>Loading...</em></p>

<button mat-flat-button color="primary"
        class="btn-add" *ngIf="salesTransactions" [routerLink]="['/sales-transaction']">
  Add a new Sales Transaction
</button>

<mat-form-field [hidden]="!salesTransactions">
  <input matInput #filter (keyup)="onFilterTextChanged(filter.value)"
         placeholder="Filter by name (or part of it)...">
</mat-form-field>

<div class="w-full overflow-x-auto">
  <table mat-table [dataSource]="salesTransactions"
       class="mat-elevation-z8"
       [hidden]="!salesTransactions"
       matSort (matSortChange)="loadData()"
       [matSortActive]="defaultSortColumn"
       [matSortDirection]="defaultSortOrder">

    <tr style="display:none!important">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let salesTransaction">{{salesTransaction.id}}</td>
      </ng-container>

      <!-- Total Amount Column -->
      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
        <td mat-cell *matCellDef="let salesTransaction">{{salesTransaction.totalAmount}}</td>
      </ng-container>

      <!-- Payment Method Column -->
      <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Method</th>
        <td mat-cell *matCellDef="let salesTransaction">{{salesTransaction.paymentMethod}}</td>
      </ng-container>

      <!-- Processed by Column -->
      <ng-container matColumnDef="processedByUsername">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Processed by</th>
        <td mat-cell *matCellDef="let salesTransaction">{{salesTransaction.processedByUserName}}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let salesTransaction">{{salesTransaction.date | date: 'short'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let salesTransaction">
          <button mat-icon-button color="primary" [routerLink]="['/salesTransaction', salesTransaction.id]" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(salesTransaction.id)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Pagination directive -->
<mat-paginator [hidden]="!salesTransactions"
               (page)="getData($event)"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50]"
               showFirstLastButtons>

</mat-paginator>
