/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.woff2') format('woff2');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mat-typography {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button,
.mat-mdc-text-button,
.mat-mdc-form-field,
.mat-mdc-input-element,
.mat-mdc-select,
.mat-mdc-option,
.mat-mdc-table,
.mat-mdc-dialog-container,
.mat-mdc-menu-item {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 24px !important;
}

body {
  margin: 0;
}

table {
  margin: 0 auto;

  tr:nth-child(even) {
    background: #F2F2F2;
  }

  tr:nth-child(odd) {
    background: #FFF;
  }

  th, td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.mat-icon.material-icons {
  font-family: 'Material Icons' !important;
}

.custom-dialog-container {
  border-radius: 32px;
}
.mdc-notched-outline__notch {
  border-right: none;
}
