/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.woff2') format('woff2');
  font-weight: 200 800;
  font-style: normal;
}

@include mat.core();

$theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$deep-purple-palette),
    accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
  ),
  typography: mat.define-typography-config(
    $font-family: '"Plus Jakarta Sans", sans-serif',
  ),
  density: 0,
));

@include mat.all-component-themes($theme);

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button,
.mat-mdc-text-button,
.mat-mdc-form-field,
.mat-mdc-input-element,
.mat-mdc-select,
.mat-mdc-option,
.mat-mdc-table,
.mat-mdc-dialog-container,
.mat-mdc-menu-item {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 24px !important;
}

body {
  margin: 0;
}

table {
  margin: 0 auto;

  tr:nth-child(even) {
    background: #F2F2F2;
  }

  tr:nth-child(odd) {
    background: #FFF;
  }

  th, td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.mat-icon.material-icons {
  font-family: 'Material Icons' !important;
}

.custom-dialog-container {
  border-radius: 32px;
}
.mdc-notched-outline__notch {
  border-right: none;
}
