<h1>Inventory Logs</h1>
<p>Here's a list of inventoryLogs: </p>
<p *ngIf="!inventoryLogs"><em>Loading...</em></p>

<button mat-flat-button color="primary"
        class="btn-add" *ngIf="inventoryLogs" [routerLink]="['/inventory-log']">
  Add a new Inventory Log
</button>

<mat-form-field [hidden]="!inventoryLogs">
  <input matInput #filter (keyup)="onFilterTextChanged(filter.value)"
         placeholder="Filter by name (or part of it)...">
</mat-form-field>

<table mat-table [dataSource]="inventoryLogs"
       class="mat-elevation-z8"
       [hidden]="!inventoryLogs"
       matSort (matSortChange)="loadData()"
       [matSortActive]="defaultSortColumn"
       [matSortDirection]="defaultSortOrder">

  <tr style="display:none!important">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let inventoryLog">{{inventoryLog.id}}</td>
    </ng-container>


    <!-- Product Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
      <td mat-cell *matCellDef="let inventoryLog">
        <button class="link-button" (click)="openProductDialog(inventoryLog.productId)">
          {{ inventoryLog.productName }}
        </button>
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let inventoryLog">{{inventoryLog.date | date:'short'}}</td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity </th>
      <td mat-cell *matCellDef="let inventoryLog">{{inventoryLog.quantity}}</td>
    </ng-container>

    <!-- Change Type Column -->
    <ng-container matColumnDef="changeType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let inventoryLog">
        <mat-chip-listbox>
          <mat-chip highlighted
                    [color]="
          inventoryLog.changeType === 1 ? 'primary' :
          inventoryLog.changeType === 2 ? 'warn' :
          'accent'
        ">
            {{ inventoryLog.changeType | inventoryChangeType }}
          </mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>


    <!-- Remarkss Column -->
    <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
      <td mat-cell *matCellDef="let inventoryLog">{{inventoryLog.remarks}}</td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let inventoryLog">
        <button mat-icon-button color="primary" [routerLink]="['/inventory-log', inventoryLog.id]" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(inventoryLog.id)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  </tr>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination directive -->
<mat-paginator [hidden]="!inventoryLogs"
               (page)="getData($event)"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50]"
               showFirstLastButtons>

</mat-paginator>
