<h1>{{title}}</h1>
<p *ngIf="id && !products"><em>Loading…</em></p>

<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Customer</mat-label>
    <input type="text" matInput [matAutocomplete]="auto"
           formControlName="customer" placeholder="Search customer">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCustomer">
      <mat-option *ngFor="let c of filteredCustomers | async" [value]="c">
        {{ c.name }} – {{ c.contactNumber }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Payment</mat-label>
    <mat-select formControlName="paymentMethod">
      <mat-option [value]="'Cash'">Cash</mat-option>
      <mat-option [value]="'GCash'">GCash</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Search Product</mat-label>
    <input type="text" matInput [matAutocomplete]="auto1"
           formControlName="product" placeholder="Search product">
    <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayProduct">
      <mat-option *ngFor="let p of filteredProducts | async" [value]="p">
        {{ p.name }} – {{ p.sellingPrice | currency:'PHP': 'symbol' }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
