<div class="category-edit">
  <h1>{{title}}</h1>
  <p *ngIf="id && !category"><em>Loading...</em></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required
             placeholder="Type a name">
      <mat-error *ngIf="form.controls['name'].errors?.['required']">
        Name is required.
      </mat-error>
      <mat-error *ngIf="form.controls['name'].errors?.['isDupeField']">
        Name already exists: please choose another.
      </mat-error>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary"
              type="submit" [disabled]="!form.valid">
        {{ this.id ? "Save" : "Create" }}
      </button>
      <button mat-flat-button color="secondary"
              [routerLink]="['/categories']">
        Cancel
      </button>
    </div>
  </form>
</div>
